{% extends 'base.html.twig' %}

{% block body %}
    <h3>Comment</h3>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Text</th>
                <td>{{ comment.text }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if comment.date %}{{ comment.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('advert_show', {'id': comment.advert.id}) }}">Back to Ad</a>
        </li>
    </ul>
{% endblock %}
