{% extends 'base.html.twig' %}

{% block body %}

    <h3>Categories</h3>

    <table class="table table-striped">
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a></td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-group">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="list-group-item">
            <a href="{{ path('category_new') }}">Create New Category</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
